:root {
    --white: #fff;
    --light: #f8f9fa;
    --black: #000;
    --dark: #212529;
    --grey: #6c757d;
    --darkblue: #1552ad;
    --lightblue: #3382fa;
    --gold: #ffa500;
    --silver: #c0c0c0;
}

